<!DOCTYPE html>
<html>

<head>
    <!-- require APlayer -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
    <!-- require MetingJS -->
    <script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
</head>

<body>
    <div class="demo">
        <div id="player1">
        </div>
    </div>
    <script>
        var ap = new APlayer
            ({
                element: document.getElementById('player1'),
                fixed: false,
                autoplay: false,
                mini: true,
                theme: '#f8f4fc',
                loop: 'all',
                order: 'random',
                preload: 'auto',
                volume: 0.08,
                mutex: true,
                listFolded: true,
                listMaxHeight: '500px',
                lrcType: 0,
                music: [
                    {
                        name: 'voyage 1969',
                        artist: 'ZUN',
                        url: 'https://upload.thwiki.cc/2/2d/th08_13.mp3',
                        cover: 'https://upload.thwiki.cc/f/fb/%E9%98%BF%E6%B3%A2%E7%BD%9711.jpg'
                    },
                    {
                        name: 'voyage 1970',
                        artist: 'ZUN',
                        url: 'https://upload.thwiki.cc/c/c6/th08_16.mp3',
                        cover: 'https://upload.thwiki.cc/f/fb/%E9%98%BF%E6%B3%A2%E7%BD%9711.jpg'
                    }
                ]
            });
        //ap.init();
    </script>
</body>
