<article
  class="{{ if not .Site.Params.homepage.showRecent }}
    h-full
  {{ end }} flex flex-col items-center justify-center text-center"
>
  <header class="mb-3 flex flex-col items-center">
    {{ $lazy := .Params.enableImageLazyLoading | default .Site.Params.enableImageLazyLoading | default true }}
    {{ $altText := ($.Site.Language.Params.Author.name | default "Author") }}
    {{ with .Site.Language.Params.Author.image }}
      {{ $authorImage := resources.Get . }}
      {{ if $authorImage }}
        {{ $imgClass := "mb-2 h-auto w-36 rounded-full" }}
        {{ partial "picture.html" (dict "img" $authorImage "alt" $altText "class" $imgClass "lazy" $lazy) }}
      {{ end }}
    {{ end }}
    <h1 class="text-4xl font-extrabold">
      {{ .Site.Language.Params.Author.name | default .Site.Title }}
    </h1>
    {{ with .Site.Language.Params.Author.headline }}
      <h2 class="text-xl text-neutral-500 dark:text-neutral-400">
        {{ . | markdownify | emojify }}
      </h2>
    {{ end }}
    <div class="mt-1 text-2xl">
      {{ partialCached "author-links.html" . }} 
    </div>
  </header>
  <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>
</article>
<section>
  {{ partial "recent-articles.html" . }}
</section>
<section>
    {{ partial "music" . }}
  </section>
  <section>
    {{ partial "live2d.html" . }}
  </section>
  <style>
  :root {
    --sys-font-family: "Nunito";
    --zh-font-family: "Noto Serif SC";
    --base-font-family: "Nunito";
    --code-font-family: "Bebas Neue";
    --article-font-family: "Nunito";
  }
</style>

<head>
  ...

  <!-- LaTeX  MathJax 3 -->
  {{ if .Params.mathjax }}{{ partial "mathjax_support.html" . }}{{ end }}
</head>
<style>
  code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
  }
</style>

<script>
  (function () {
    const customFont = document.createElement("link");
    customFont.href =
      "https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap";

    customFont.type = "text/css";
    customFont.rel = "stylesheet";

    document.head.appendChild(customFont);
  })();
</script>
